django == 4.2.*
djangorestframework
djangorestframework-simplejwt
django-environ
pyyaml
requests
django-cors-headers
django-simple-history
django-auth-ldap
mysqlclient
drf-spectacular
gunicorn==21.2.0